<form class="modal_content_layout layout">
	<div class='modal_content'>
		<fieldset>
			<div class="row form-row">
				<div class='description col-md-12'></div>
			</div>
			<div class="row form-row">
				<div class='percentage col-md-12'></div>
			</div>
		</fieldset>
	</div>
	<footer>
		<button class='btn btn-primary btn-success' type='submit' value='submit'>
		{{ title }}
		</button>
		<button class='btn' type='reset' value='cancel'>
		Annuler
		</button>
	</footer>
</form>
