<button
    class='btn btn-status {{ css }}'
    title="{{ title }}"
    >
    {{#if icon}}
        <svg>
            <use href="/static/icons/endi.svg#{{icon}}"></use>
        </svg>
    {{/if}}
    {{label}}
</button>