<div class="separate_block composite">
  <div class="border_left_block">
    <h2 class="title">
      Liste des produits
    </h2>
  </div>
  <div class="group-container common"></div>
  <div class="group-container products"></div>
  {{#if editable}}
    <div class="border_left_block">
      <div class="actions content_double_padding align_right">
        <a class="btn" href="#addchapter" title="Ajouter un chapitre">
          <svg>
            <use href="/static/icons/endi.svg#plus"></use>
          </svg>
          Ajouter un chapitre
        </a>
      </div>
    </div>
  {{/if}}
</div>
<div
  id="discounts"
  class="form-section discount-group collapsible"
>
 
</div>