<div class="border_left_block composite content_double_padding">
  <div class="layout">
    <div class="col-md-6 field-general_overhead"></div>
  </div>
  <div class="field-margin_rate"></div>
  <div class="field-mask_hours"></div>
</div>