<div class="layout flex two_cols document_header">
    {{#if title }}
	    <h4>{{{title}}}</h4>
    {{/if}}
	<div class="controls align_right"></div>
</div>
<div class="document_container" style="">
    <img src="{{url}}" alt="{{label}}" />
</div>
