<script setup>
  const props = defineProps({
    size: { type: String, default: 'middle' },
    title: { type: String, required: true },
  })
</script>
<template>
  <section class="modal_view" :class="'size_' + size">
    <div role="dialog" aria-modal="true">
      <div class="modal_layout">
        <header>
          <button
            class="icon only unstyled close"
            title="Fermer cette fenêtre"
            aria-label="Fermer cette fenêtre"
            onclick="return false;"
          >
            <svg>
              <use
                href="${request.static_url('endi:static/icons/endi.svg')}#times"
              ></use>
            </svg>
          </button>
          <h2>{{ title }}</h2>
        </header>
        <slot name="nav"></slot>
        
      </div>
    </div>
  </section>
</template>
