<dl class="dl-horizontal">
  {{#if is_ttc_mode}}
    {{#if has_discounts}}
      <dt> Total TTC avant remise</dt>
      <dd>
        {{{ttc_before}}}
      </dd>
      <dt>Total HT avant remise</dt>
      <dd>
        {{{ht_before}}}
      </dd>
    {{/if}}
  {{else}}
    {{#if has_discounts}}
      <dt>
        Total HT avant remise
        {{"\n"}}
      </dt>
      <dd>
        {{{ht_before}}}
      </dd>
    {{/if}}
    <dt>
      Total HT
    </dt>
    <dd>
      {{{ht}}}
    </dd>
  {{/if}}
  <dt>
    Total TTC
  </dt>
  <dd>
    {{{ttc}}}
  </dd>
</dl>