<td class='col_text'>{{title}}</td>
<td class='col_actions width_four'>
    <button class='btn icon only edit'>
        <svg><use href="/static/icons/endi.svg#pen"></use></svg>
    </button>
    <button class='btn icon only duplicate'>
        <svg><use href="/static/icons/endi.svg#copy"></use></svg>
    </button>
    <button class='btn icon only csv_export'>
        <svg><use href="/static/icons/endi.svg#file-csv"></use></svg>
    </button>
    <button class='btn icon only negative delete'>
        <svg><use href="/static/icons/endi.svg#trash-alt"></use></svg>
    </button>

</td>