body.endi {
	.main_toolbar .flex > .resume {
		align-items: center;
		min-height: 3rem;
	}
	.product_actions {
		.flex {
			display: flex;
			align-items: center;
			justify-content: space-between;
			> div {
				align-items: center;
				display: flex;
				> div {
					margin-right: 5px;
				}
			}
		}
	}
}
