<div class="alert alert-info">
    <button type="button" class="icon only unstyled close" title="Fermer cette aide" aria-label="Fermer cette aide">
        <svg><use href="/static/icons/endi.svg#times"></use></svg>
    </button>
    <span class="icon"><svg><use href="/static/icons/endi.svg#info-circle"></use></svg></span>
    Le prix de vente indiqué ici est donné à titre indicatif.<br />
Lors de l'utilisation du produit dans une étude de prix, les coefficients de marge et de frais généraux pourront être personnalisés    <br />
    <h4>Coefficients utilisés</h4>
    <ul>
    {{#if use_margin_rate}}
    <li>Coefficient de marge du produit {{ margin_rate }}</li>
    {{else}}
    <li>Coefficient de marge de votre enseigne {{margin_rate}}</li>
    {{/if}}
    <li>
    Coefficient de frais généraux de votre enseigne {{computing_info.general_overhead}}
    </li>

    {{#if computing_info.use_contribution}}
    <li>
        Taux de contribution {{computing_info.contribution}}&nbsp;%
    </li>
    {{/if}}
    {{#if computing_info.insurance}}
    <li>
    Taux d'assurance {{computing_info.insurance}}&nbsp;%
    </li>
    {{/if}}
    </ul>
    <h4>Formule de calcul</h4>
    <code>Prix de vente = Coût d'achat * (1 + {{computing_info.general_overhead}}) / (  (1-{{margin_rate}}){{#if computing_info.use_contribution}} x (100 - {{computing_info.contribution}}){{/if}}{{#if computing_info.use_contribution}} x (100 - {{computing_info.insurance}}){{/if}}  )</code>
    <br />
    <h4>Forcer le calcul</h4>
    Si vous avez modifiez des éléments dans votre fiche enseigne, vous pouvez recalculer le prix de vente indicatif de votre produit en cliquant ici 
    <button type="button" class="unstyled icon only compute" title="Forcer le re-calcul des montants">
        <span class="icon"><svg><use href="/static/icons/endi.svg#calculator"></use></svg></span>
    </button>
</div>}