{{# unless can_validate_attachments}}
    {{#if justified}}
        <td class="col_status"
            title="Justificatif(s) accepté(s)"
            aria-label="Justificatif(s) accepté(s)"
        >
    <span class="icon status valid">
        <svg><use href="../static/icons/endi.svg#check"></use></svg>
    </span>
        </td>
    {{else}}
        <td class="col_status" title="Justificatif(s) en attente" aria-label="Justificatif(s) en attente">
		</td>
    {{/if}}
{{/unless}}
<td class="col_date">{{{ altdate }}}</td>
<td class="col_text">
	<strong>{{ typelabel }}</strong>
	{{#if description}}
		<br />
		{{ description }}
	{{/if}}
    {{#if invoice_number_and_supplier}}
    (Facture {{ invoice_number }} / {{ supplier_label }})
     {{ else }}
    {{#if invoice_number}}
        ({{invoice_number}})
    {{/if}}
    {{#if supplier_label}}
        ({{ supplier_label }})
    {{/if}}
{{/if}}
</td>
<td class="col_text">
    <ul>
        {{#each files}}
            <li>
                <a href="/files/{{id}}?action=download"
                   title="Ouvrir le justificatif {{ label }} dans une nouvelle fenêtre"
                   aria-label="Ouvrir le justificatif {{ label }} dans une nouvelle fenêtre"
                   target="_blank"
                >
                    {{ label }}
                </a>
            </li>
        {{/each}}
    </ul>
</td>
{{#if can_validate_attachments}}
    <td class="col_text">
        <div class="justified"></div>
    </td>
{{/if}}
{{#if is_achat}}
    <td class="col_text"><span class="business-link"></span></td>
{{/if}}
<td class="col_number">{{{ ht_label }}}</td>
<td class="col_number">
    {{#if has_tva_on_margin }}
        <span class="icon small"
              title="Dépense en mode TVA sur marge : il s'agit d'une TVA estimée, le TTC fait foi."
        >
            <svg><use href="/static/icons/endi.svg#exclamation-circle"></use></svg>
        </span>
    {{/if}}
    {{{ tva_label }}}
</td>
<td class="col_number">{{{ total }}}</td>
{{#edit}}
<td class='col_actions width_four'>
	<ul>
		<li>
			<button class='btn icon only edit' title='Modifier' aria-label='Modifier'><svg><use href="/static/icons/endi.svg#pen"></use></svg></button>
		</li>
		<li>
			<button class='btn icon only duplicate' title='Dupliquer' aria-label='Dupliquer'><svg><use href="/static/icons/endi.svg#copy"></use></svg></button>
		</li>
		<li>
			<button class='btn icon only bookmark' title='Mettre en favori' aria-label='Mettre en favori'><svg><use href="/static/icons/endi.svg#star-empty"></use></svg></button>
		</li>
		<li>
			<button class='btn icon only negative delete' title='Supprimer' aria-label='Supprimer'><svg><use href="/static/icons/endi.svg#trash-alt"></use></svg></button>
		</li>
	</ul>	
</td>
{{/edit}}
