<td class="col_text" title="{{description}}">{{ title }}</td>
<td class='col_actions width_two'>
    <button
    class='btn icon only edit'
    type='button'
    title="Modifier cette catégorie">
        <svg><use href="/static/icons/endi.svg#pen"></use></svg>
    </button>
    <button
    class='btn icon only delete negative'
    type='button'
    title="Supprimer cette catégorie">
        <svg><use href="/static/icons/endi.svg#trash-alt"></use></svg>
    </button>
</td>
