<h3><small>Évaluation de la compétence&nbsp;:</small> {{label}}</h3>
<h4><small>Pour l’échéance&nbsp;:</small> {{ deadline_label }}</h4>
<form id="item_form">
<div class="table_container">
    <table>
        <thead>
            <th scope="col" class="col_text">Sous-compétence</th>
            {{#scales}}
            <th scope="col" {{#is_reference}}class="status positive"{{/is_reference}}>
                {{ label }} ({{value}}) {{#is_reference}}<span class='help-block'>Niveau de référence</span>{{/is_reference}}
            </th>
            {{/scales}}
            <th scope="col" class="col_text">Argumentation, Preuves</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class='content_padding align_center status_block {{#if is_ok_average}}positive{{else}}caution{{/if}}'>
        Évaluation : {{ average_level }}
    </div>
</div>
<div class='form-group'>
    <label for="comments">Axes de progrès pour cette échéance</label>
    <textarea name='progress' class='form-control'>{{ progress }}</textarea>
</div>
<button type='button' class='btn btn-primary'>OK</button>
</form>
