// notifications

body.endi #notifications {
	max-height: 100vh;
	overflow-y: auto;
	position: absolute;
	right: 0;
	top: 0;
	z-index: $floatingMenuLayer;
}

body.endi .notifications {
	ul {
		list-style-type: none;
	}
	li {
		align-items: center;
		background: var(--screen-trans-background-color);
		border-left: 5px solid var(--func-neutral-color);
		box-shadow: 0 0 1px var(--box-shadow-color), 0 0 5px var(--box-shadow-color);
		display: flex;
		font-size: .875rem;
		justify-content: flex-start;
		margin: 5px;
		position: relative;
		&[class] {
			span.icon {
				svg {
					fill: var(--svg-invert-fill-color);
				}
			}
		}
		&.success,
		&.valid {
			border-left-color: var(--func-positive-color);
			span.icon {
				background: var(--func-positive-color);
			}
		}
		&.error,
		&.invalid {
			border-left-color: var(--func-negative-color);
			span.icon {
				background: var(--func-negative-color);
			}
		}
		&.caution {
			border-left-color: var(--func-caution-color);
			span.icon {
				background: var(--func-caution-color);
			}
		}
		&.neutral,
		&.wait {
			border-left-color: var(--func-neutral-color);
			span.icon {
				background: var(--func-neutral-color);
			}
		}
		.text {
			padding: $unitPadding ($unitPadding * 2);
		}
		> div .text:first-of-type {
			padding-right: 5rem;
		}
		&[aria-hidden="true"] {
			display: none;
		}
	}
	span {
		display: inline-block;
	}
	span.icon {
		align-self: stretch;
		flex: 0 0 auto;
		width: 3rem;
		svg {
			fill: var(--svg-fill-color);
			height: 2rem;
			margin: .5rem .375rem;
			width: 2rem;
		}
	}
	button.unstyled {
		height: 2rem;
		position: absolute;
		right: 0;
		top: 0;
		width: 2rem;
		svg {
			fill: var(--svg-fill-color);
			margin: 0;
		}
		&:hover,
		&:focus,
		&:active {
			background: var(--form-input-background-color);
		}
		+ button.unstyled {
			right: 2.5rem;
		}
	}
	li.text_more {
		border-left-width: 0;
		> div {
			padding: ( $unitPadding * 2 );
		}
	}
}
@media ( min-width: $wideWidth ) {
	body.endi #notifications li {
		width: 25vw;
	}
}
@media ( min-width: $desktopWidth ) {
	body.endi #notifications li {
		width: 33vw;
	}
}
@media ( max-width: $desktopWidth ) {
	body.endi #notifications li {
		width: 50vw;
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi #notifications li {
		width: calc( 100vw - 10px );
	}
}
